In [17]:
r = int(input('enter rows :'))
for i in range(r):
    for j in range(r):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [3]:
r = int(input('enter rows :'))
for i in range(r):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [60]:
r = int(input('enter rows :'))
for i in range(r, 0, -1):
    for j in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [13]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(r, 0, -1):
        print(' ', end='')
    r -= 1
    for j in range(i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****

In [11]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(1, i):
        print(' ', end='')
    for j in range(r, 0, -1):
        print("*", end='')
    r -= 1
    print()

*****
 ****
  ***
   **
    *

In [67]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(r, 0, -1):
        print(' ', end='')
    r -= 1
    for j in range(1, i*2):
        print('*', end='')
    print()

     *
    ***
   *****
  *******
 *********

In [65]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(1, i):
        print(' ', end='')
    for j in range(r*2, 1, -1):
        print("*", end='')
    r -= 1
    print()

*********
 *******
  *****
   ***
    *

In [49]:
r = int(input('enter rows :'))
for i in range(r):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [50]:
r = int(input('enter rows :'))
for i in range(r, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [55]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(r*2, 0, -1):
        print(' ', end='')
    r -= 1
    for j in range(i):
        print('*', end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [58]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(1, i*2):
        print(' ', end='')
    for j in range(r, 0, -1):
        print("*", end=' ')
    r -= 1
    print()

 * * * * *
   * * * *
     * * *
       * *
         *

In [63]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(r, 0, -1):
        print(' ', end='')
    r -= 1
    for j in range(i):
        print('*', end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [61]:
r = int(input('enter rows :'))
for i in range(1, r+1):
    for k in range(1, i):
        print(' ', end='')
    for j in range(r, 0, -1):
        print("*", end=' ')
    r -= 1
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [1]:
r = 5
for i in range(1, r+1):
    for j in range(1, r+1):
        print(i, end='')
    print()

11111
22222
33333
44444
55555

In [31]:
r = 5
for i in range(1, r+1):
    for j in range(1, r+1):
        print(j, end='')
    print()

12345
12345
12345
12345
12345

In [29]:
r = 5
for i in range(1, r+1):
    for j in range(1, i+1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [43]:
r = 5
x = r
for i in range(1, r+1):
    for k in range(x, 0, -1):
        print(' ', end='')
    x -= 1
    for j in range(1, i*2):
        print(j, end='')
    print()

     1
    123
   12345
  1234567
 123456789

In [4]:
c = 65
r = 5
for i in range(1, r+1):
    for j in range(i):
        print(chr(c), end='')
    print()
    c += 1

A
BB
CCC
DDDD
EEEEE

In [66]:
c = 65
r = 5
for i in range(1, r+1):
    for j in range(i):
        print(chr(c), end='')
        c += 1
    print()

A
BC
DEF
GHIJ
KLMNO

In [16]:
r = int(input('enter rows :'))
for i in range(r):
    for j in range(r):
        if (i == 0) or (i == r-1) or (j == 0) or (j == r-1):
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
*   *
*   *
*   *
*****

In [20]:
r = int(input('enter rows :'))
for i in range(r):
    for j in range(i+1):
        if (i == 0) or (i == r-1) or (j == 0) or (j == i):
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
**
* *
*  *
*****

In [23]:
r = int(input('enter rows :'))
for i in range(r, 0, -1):
    for j in range(i):
        if (i == r) or (i == 1) or (j == 0) or (j == i-1):
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
*  *
* *
**
*

In [33]:
r = int(input('enter rows :'))
z = r
for i in range(1, r+1):
    for k in range(z, 0, -1):
        print(' ', end='')
    for j in range(i):
        if (i == r) or (i == 0) or (j == 0) or (j == i-1):
            print('*', end='')
        else:
            print(' ', end='')
    z -= 1
    print()

     *
    **
   * *
  *  *
 *****

In [40]:
r = int(input('enter rows :'))
z = r
for i in range(1, r+1):
    for k in range(1, i):
        print(' ', end='')
    for j in range(z, 0, -1):
        if (i == r) or (i == 1) or (j == z) or (j == 1):
            print('*', end='')
        else:
            print(' ', end='')
    z -= 1
    print()

*****
 *  *
  * *
   **
    *

In [17]:
r = int(input('enter rows :'))
z = r
for i in range(1, r+1):
    for k in range(z, 0, -1):
        print(' ', end='')
    z -= 1
    for j in range(1, i*2):
        if (i == r) or (i == 1) or (j == 1) or (j == (i*2)-1):
            print('*', end='')
        else:
            print(' ', end='')
    print()

     *
    * *
   *   *
  *     *
 *********

In [16]:
r = int(input('enter rows :'))
x = r
for i in range(1, r+1):
    for k in range(1, i):
        print(' ', end='')
    for j in range(x*2, 1, -1):
        if (i == r) or (i == 1) or (j == 2) or (j == x*2):
            print('*', end='')
        else:
            print(' ', end='')
    x -= 1
    print()

*********
 *     *
  *   *
   * *
    *

In [32]:
r = 5
for i in range(1, r+1):
    for j in range(1, r+1):
        if(i == 1) or (i == r) or (j == 1) or (j == r):
            print(j, end='')
        else:
            print(' ', end='')
    print()

12345
1   5
1   5
1   5
12345

In [18]:
r = 5
for i in range(1, r+1):
    for j in range(1, r+1):
        if(i == 1) or (i == r) or (j == 1) or (j == r):
            print(i, end='')
        else:
            print(' ', end='')
    print()

11111
2   2
3   3
4   4
55555

In [36]:
r = 5
for i in range(1, r+1):
    for j in range(1, i+1):
        if(i == 1) or (i == r) or (j == 1) or (j == i):
            print(j, end='')
        else:
            print(' ', end='')
    print()

1
12
1 3
1  4
12345

In [20]:
r = 5
x = r
for i in range(1, r+1):
    for k in range(x, 0, -1):
        print(' ', end='')
    x -= 1
    for j in range(1, i*2):
        if(i == 1) or (i == r) or (j == 1) or (j == i*2-1):
            print(j, end='')
        else:
            print(' ', end='')
    print()

     1
    1 3
   1   5
  1     7
 123456789

In [24]:
c = 65
r = 5
for i in range(1, r+1):
    for j in range(i):
        if(i == 1) or (i == r) or (j == 0) or (j == i-1):
            print(chr(c), end='')
        else:
            print(' ', end='')
    print()
    c += 1

A
BB
C C
D  D
EEEEE

In [26]:
c = 65
r = 5
for i in range(1, r+1):
    for j in range(i):
        if(i == 1) or (i == r) or (j == 0) or (j == i-1):
            print(chr(c), end='')
        else:
            print(' ', end='')
        c += 1
    print()

A
BC
D F
G  J
KLMNO

In [46]:
import math
r = int(input('enter radians : '))


def radiantodegree(r):
    print('degree : ', r*180/math.pi)


radiantodegree(r)

degree :  57.29577951308232

In [45]:
list = [4, 7, 3, 0, 2, 5]


def func(list, order):
    list.sort()
    if (order == 'asc'):
        print(list)
    elif (order == 'dsc'):
        list.reverse()
        print(list)
    else:
        print('please enter one from ("asc","dsc")')


order = input('enter order ("asc","dsc") : ')
func(list, order)

please enter one from ("asc","dsc")

In [45]:
# Decimal to Binary
n = int(input("enter number : "))
bi = ''
while n > 0:
    i = n % 2
    n = n//2
    bi += str(i)
print(bi[::-1])

1100100